:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --primary-bcg-color: #ffffff;
  --secondary-bcg-color: #f5f4fa;
}

/*General*/

body {
  background-color: var(--primary-bcg-color);
  color: var(--primary-title-color);
  font-family: Roboto, sans-serif;
}
li {
  list-style-type: none;
}

.main-page h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}
/*Header*/

.header .logo-web {
  color: #2196f3;
}

.header .logo-studio {
  color: #000000;
}

.logo-web,
.logo-studio {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.link:hover,
.link:focus {
  color: #2196f3;
}
.nav .current {
  color: #2196f3;
}

.nav {
  color: var(--primary-title-color);
}

.contact {
  color: var(--primary-text-color);
}

.nav,
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*inex.html*/

/*section hero*/
.hero {
  background-color: #2f303a;
  color: #ffffff;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background: #2196f3;
  color: #ffffff;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/*section features*/

.features-title {
  visibility: hidden;
}

.features h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*section works*/

/*section team*/
.team {
  background-color: var(--secondary-bcg-color);
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/*footer*/
.footer {
  background-color: #2f303a;
}
.footer .logo-web {
  color: #2196f3;
}
.footer .logo-studio {
  color: #ffffff;
}

.footer-map {
  color: #ffffff;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*portfolio.html*/

/*main*/

.projects-title {
  visibility: hidden;
}

.button-filter {
  color: var(--primary-title-color);
  background-color: var(--secondary-bcg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-filter:focus,
.button-filter:hover {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.projects h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects p {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
